<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather data API</title>
</head>
<body>
<h1>Weather data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL example for one station for specific date: http://127.0.0.1:5000/api/v1/10/1908-10-04</p>
<p>URL example for one station for all dates: http://127.0.0.1:5000/api/v1/16</p>
<p>URL example for one station for specific year: http://127.0.0.1:5000/api/v1/yearly/10/1934</p>
<p>{{data|safe}}</p>
</body>
</html>